@using GameEngine.GameTypes
@using GameEngine.PlayerItem
@model GoVikingGameWeb.Models.GameViewModel
@{
    ViewBag.Title = "Go Vik'ing game!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/Tools.js"></script>
<script type="text/javascript" src="/Scripts/GoVikingGame.js"></script>


<h2 class="logo">@ViewBag.Title</h2>
<p class="gameinfo">
    There is @Model.GameViksCount village on this server<br />
    Your id: @Model.PlayerId<br />
    <span class="resources"><img src="../../Content/GUI/food.png"/><span id="FoodResources">na</span></span>
    <span class="resources"><img src="../../Content/GUI/wood.png"/><span  id="WoodResources">na</span></span>
    <span class="resources"><img src="../../Content/GUI/stone.png"/><span  id="StoneResources">na</span></span>
    <span class="resources"><img src="../../Content/GUI/gold.png"/><span id="GoldResources">na</span></span>
    <span class="resources"><img src="../../Content/GUI/workers.png"/><span id="WorkersResources">na</span></span>
    <span class="resources"><span id="GameNextTick"></span></span>

</p>
@*Figure out the image size of the tiles*@
<style>
    table.mapview_computed {
        width:@(Model.MapRenderWidth)px;
    }

    .mapview_computed img {
        width: @(Model.MapRenderWidth / Model.UserSessionMap.Count)px;
        height: @(Model.MapRenderWidth / Model.UserSessionMap.Count)px;
        float: left;
    }

    
</style>
@*Render player map*@
<table class="mapview_computed mapview">
    @foreach (var line in Model.UserSessionMap)
    {
    
        <tr>
            <td>
                @foreach (PlayerTile t in line)
                {
                    <img src="../../Content/Tiles/@t.TileType.ImageFile" alt="@t.TileType.Name" id="@t.Id"    />
                }
            </td>
        </tr>
    }
</table>
@*Create build menues for tiles*@
@foreach (var tiletype in Model.TileTypes.Where(e => e.Buildable != null || e.CreateAble!=null))
{
    
    
    <nav class="buildmenu" id="@tiletype.Name" style="display: none;">
        

        <img src="../../Content/ArrowPointer.png" class="tilepointer" />
        
        <h3>@tiletype.FriendlyName</h3>
        
        <input type="hidden" id="CurrentTileId"/>

        @*Warriors*@        
        @foreach (var type in tiletype.CreateAble)
        {
            WarriorType warriorType = Model.WarriorTypes.Where(e => e.kind.Equals(type)).FirstOrDefault();

            <a onclick="Train('@warriorType.Name');return false;" class="button blue" style="width: 320px;">
                <b>@warriorType.FriendlyName</b><br />
                <span class="buildmenucost">Cost: @warriorType.FoodCost food @warriorType.WoodCost wood @warriorType.GoldCost gold
                </span>
                <br />
                @warriorType.Description
            </a>
            <br />
        }

        @*Buldings*@

        @foreach (var type in tiletype.Buildable)
        {
            TileType tileType = Model.TileTypes.Where(e => e.kind.Equals(type)).FirstOrDefault();

            <a onclick="Build('@tileType.Name');return false;" class="button orange" style="width: 320px;">
                <b>@tileType.FriendlyName</b><br />
                <span class="buildmenucost">Cost: @tileType.FoodCost food @tileType.StoneCost stone @tileType.WoodCost wood @tileType.GoldCost gold
                </span>
                <br />
                @tileType.Description
            </a>
            <br />

        }
        
        @if (tiletype.Buildable.Length+tiletype.CreateAble.Length==0)
        {
            <span>Nothing to do here yet...</span><br/><br/>
        }
        <a href="#" class="button grey buildmenuclose" style="text-align: center; ">
            Close
        </a>
    </nav>
    
}   